<p style="color: green"><%= notice %></p>

<!-- Quote Header -->
<div class="text-center mb-4">
  <h3 class="fw-bold text-dark">Selected Quote</h3>
  <hr class="w-50 mx-auto" />
</div>

<%= render @quote %> 

<!-- quote buttons -->
<% if current_user && @quote.user == current_user %> 
  <div class="d-flex justify-content-center gap-2 mb-4">
    <%= link_to "Edit this quote", edit_quote_path(@quote), class: "btn btn-primary" %> 
    <%= button_to "Delete quote", quote_path(@quote), method: :delete, class:"btn btn-danger" %>
      <% if logged_in? %>
        <%= link_to "See my Quotes", your_quotes_path, class:"btn btn-secondary" %> 
      <% else %>
        <%= link_to "Return home", root_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %> 

