<p style="color: green"><%= notice %></p>

<%= render @quote %> 

<div>
  <% if current_user && @quote.user == current_user %> 
    <%= link_to "Edit this quote", edit_quote_path(@quote), class: "btn btn-primary" %> 
    <%= link_to "Delete quote", quote_path(@quote), method: :delete, class:"btn btn-danger" %> 
  <% end %> 

<%= link_to "Back to quotes", your_quotes_path %> </div>