<h3 class="pt-3">Find your favourite quotes by category!</h3>

<!-- Form to search quotes by selected categories -->
<%= form_tag search_path, method: :get do %>

  <!-- Display all categories -->
  <div class="mb-3">
    <label class="form-label">Select one or more categories:</label>
    <div class="row">
      <% Category.all.each do |category| %>
        <div class="col-md-4">
          <div class="form-check">
            <!-- Checkbox for each category -->
            <%= check_box_tag "category_ids[]", category.id, params[:category_ids]&.include?(category.id.to_s), class: "form-check-input", id: "cat_#{category.id}" %>
            <%= label_tag "cat_#{category.id}", category.cat_name, class: "form-check-label" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- submit button -->
  <%= submit_tag 'Search Quotes', class: "btn btn-primary" %>
<% end %>

<!-- Show results only if categories were selected -->
<% if params[:category_ids].present? %>
  <% if @quotematch.present? %>

    <!-- Display matching quotes -->
    <h4 class="pt-4">Results:</h4>
    <% @quotematch.each do |quote| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title fw-bold"><%= "#{quote.author.auth_fname} #{quote.author.auth_lname}" %></h5>
          <p class="card-text"><%= quote.quote %></p>

          <!-- Link to full quote details -->
          <a href="/quotes/<%= quote.id %>">Get more information</a>
        </div>
      </div>
    <% end %>
  <% else %>
  
    <!-- Message if no quotes matched -->
    <p class="text-muted mt-3">No matching quotes found.</p>
  <% end %>
<% end %>

