<div id="<%= dom_id author %>">
  <p>
    <strong>Auth fname:</strong>
    <%= author.auth_fname %>
  </p>

  <p>
    <strong>Auth lname:</strong>
    <%= author.auth_lname %>
  </p>

  <p>
    <strong>Birth year:</strong>
    <%= author.birth_year %>
  </p>

  <p>
    <strong>Death year:</strong>
    <%= author.death_year %>
  </p>

  <p>
    <strong>Is anon:</strong>
    <%= author.is_anon %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= author.bio %>
  </p>

</div>
